.slide {
  width: 100%;
  position: absolute;
  overflow: auto;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 1.0s;
          transition-duration: 1.0s;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}


.current {
  top: 0;
  bottom: 0;
}
.top {
  bottom: 100%;
  top: -100%;
}
.bottom {
  bottom: -100%;
  top: 100%;
}
.left {
  left: -100%;
  right: 100%;
}
.right {
  left: 100%;
  right: -100%;
}
