* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #dfdfdf;
    height: 100%;
}


#thin {
    font-weight: 100;
}

h1 {
    font-size: 50pt;
    float: right;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg img {
    position: absolute;
    height: 100%;
    width: 100%;
}

#header {
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 100%;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#nav {
    float: right;
}

#title {
    margin-top: 25px;
    font-size: 5em;
    width: 100%;
    display: block;
    text-align: center;

}

.button {
    border: 2px solid #dfdfdf;
    display: inline;
    padding: 10px;
    margin: 10px;
}
.button:hover {
    background-color: #dfdfdf !important;
    color: #2d2c31;
    cursor: pointer;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 100px;
    color: #32bef9;
}

#nav {
    font-size: 2em;
    position: absolute;
    bottom: -5px;
    width: 100%;
    list-style-type: none;
    display: block;
    text-align: center;
}

#links {
    font-size: 2.5em;
    position: absolute;
    width: 100%;
    list-style-type: none;
    display: block;
    text-align: center;
}

#links a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px 0px 10px;
}

#links li {
    display: inline;
}

a {
    text-decoration: none;
}

#nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 80px 0px 80px;

}

#nav li {
    display: inline;
    width: 100px;
}

a:link {
    color: #dfdfdf;
    border-bottom: 5px solid transparent;
}

a:visited {
    color: #dfdfdf;
}

a:hover {
    color: #ffffff;
}

#nav a:hover {
    border-bottom: 5px solid #ffffff  !important;
}

a:active {
    color: #dfdfdf;
}

a:active {
    color: #dfdfdf;
}

.current {
    border-bottom: 5px solid #dfdfdf !important;
}

#bg-content {
    width: 100%;
    position: absolute;
    padding: 0;
    top:  250px;
    bottom: 0px;
    background-color: rgba(55, 57, 57, 0.8);
    border-top: 5px solid #454545;
    -webkit-box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 40px 5px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 40px 5px rgba(50, 50, 50, 1);
}
#content {

    font-size: 1.5em;
    padding: 20px 20px 20px 20px;

    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;

}
