* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  font-family: 'Fjalla One', sans-serif;
  color: #ffffff;
  height: 100%;
  overflow: hidden;
}
.l-panel-left {
  display: block;
  position: relative;
   box-sizing: border-box;
  height: 100%;
  width: 50%;
  float: left;
}
.l-container {
padding: 40px 40px 40px 40px;
  box-sizing: border-box;
}
#img-heatmapnews {
  background-image: url('images/heatmap.png');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#img-myenvironment {
  background-image: url('images/myenv.png');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#img-lightfield {
  background-image: url('images/lightfield2.png');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#pane-lightfield {
  background-image: url('images/lightfield.png');
}

#img-rasteriser{
  background-image: url('images/rasteriser.jpg');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#pane-rasteriser{
  background-image: url('images/rasteriser.jpg');
}

#img-raytracer{
  background-image: url('images/raytracer.jpg');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#pane-raytracer{
  background-image: url('images/raytracer.jpg');
}

#img-robot{
  background-image: url('images/robot.jpg');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#pane-robot{
  background-image: url('images/robot.jpg');
}


#img-animation{
  background-image: url('images/animation.png');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#pane-animation{
  background-image: url('images/animation.png');
}


#img-tombofterror {
  background-image: url('images/tombofterror.jpg');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#pane-heatmap {
  background-image: url('images/heatmap.jpg');
}

#pane-tombofterror {
  background-image: url('images/tombofterror.jpg');
}
#pane-myenv {
  background-image: url('images/myenv.jpg');
}
#pane-pocketshout {
  background-image: url('images/pocketshout.jpg');
}
#pane-freezebox {
  background-image: url('images/freezebox.jpg');
}
#pane-encapsulate {
  background-image: url('images/encapsulate.jpg');
}
#pane-mandelbrot {
  background-image: url('images/mandelbrot.jpg');
}

#img-freezebox{
  background-image: url('images/freezebox.jpg');
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 50px #000000;
}
#home {
  box-sizing: border-box;
  padding: 20px 00px 20px 00px !important;
  background-image: url("images/bgabout2.jpg");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
}
.pane:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.pane {

  font-family: 'Open Sans', sans-serif;
  -webkit-filter: grayscale(90%);
          filter: grayscale(90%);
  height: 160px;
  line-height: 160px;
  width: 100%;
  box-shadow: inset 0px 0px 50px #000000;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  text-align: center;
  font-size: 50px;
  vertical-align: middle;
  text-shadow: 0px 0px 50px #000000;
}
a:link {
  color: #dfdfdf;
  border-bottom: 5px solid transparent;
}
a:visited {
  color: #dfdfdf;
}
a:hover {
  color: #ffffff;
}
a:active {
  color: #dfdfdf;
}
a:active {
  color: #dfdfdf;
}
#links {
  position: absolute;
  vertical-align: middle;
  width: 100%;
  font-size: 75px;
  list-style-type: none;
  display: inline;
  text-align: center;
}
#links a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px 0px 10px;
}
#links li {
  display: inline;
}
li a {
  text-decoration: none;
}
li a:link {
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
}
#nav {
  font-family: 'Open Sans', sans-serif;

  font-weight: 100;
  color: rgb(255, 255, 255);
  font-size: 14px;
  list-style-type: none;
  vertical-align: middle;
  text-align: center;
}
#nav li:hover {
  cursor: pointer;
}
.button-back {
  width: 100px;
}
.button-back:hover{
  cursor: pointer;
}
#nav li {
  width: 23%;
  padding: 0;
  text-align: center;
  display: inline-block;
}
#nav li+li {
  border-left: 1px solid rgb(228, 228, 228);
}
#projects {
  height: 100%;
}
#about {}
.content {
  font-family: 'Merriweather', serif;
  color: rgb(117, 117, 117);
  font-size: 18px;
  line-height: 35px;
  font-weight: 300;
}
.l-panel-right {
  position: relative;
  height: 100%;
  width: 50%;
  float: right;
  overflow: hidden;
}
h2 {
  color: rgb(36, 36, 36);
  margin: 20px 20px 20px 20px;
  font-size: 100px;
}
p {
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  font-weight: 300;
  font-size: 100px;
  margin-top: 200px;
  color: rgb(255, 255, 255);
}
